<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Dan Aleko</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/loginStyles.css')}}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
    body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url(.template/images/bg.jpg) no-repeat; */
  /* background-color: pink ; */
  /* background: url(./images/bg.jpg) no-repeat; */
  background: url("{{ url_for('static',filename='images/bg.jpg')}}") no-repeat;
  background-size: cover;
  background-position: center;
}
  </style>
</head>

<body>
  <div class="wrapper">
    <form action="/login" method="POST" class="auth-form">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" id="email" name="email" placeholder="Email" required>
        <!-- <input type="text" placeholder="Username" required> -->
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <!-- <input type="password" placeholder="Password" required> -->
        <input type="password" id="password" name="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
        <a href="#">Forgot Password</a>
      </div>
      <button type="submit" class="btn">Login</button>
      <!-- <a href="dashboard" class="btn">Login</a> -->


      <div class="register-link">
        <p>Dont have an account? <a href="/signup">SignUp</a></p>
      </div>

    </form>
  </div>
</body>

</html>